[submodule "aq2-tng"]
	path = aq2-tng
	url = https://github.com/actionquake/aq2-tng.git
	branch = aqtion
[submodule "q2pro"]
	path = q2pro
	url = https://github.com/actionquake/q2pro.git
	branch = aqtion
[submodule "q2admin"]
	path = q2admin
	url = https://github.com/actionquake/q2admin.git
	branch = aqtion
