on:
  workflow_dispatch:
  push:
    branches: [master]
    paths:
      - 'uberpaks/**'

name: Client Uberpak

jobs:
  packaging:
    name: "Zip up content and upload to S3"
    runs-on: ubuntu-latest
    steps:
      - name: 'Cleanup build folder'
        run: |
          ls -la ./
          rm -rf ./* || true
          rm -rf ./.??* || true
          ls -la ./

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            bots
            tng
            uberpaks

      - name: Generate client uberpak
        run: |
          cd uberpaks
          mv ../bots ../tng .
          zip -r uberpak_client.pkz .

      - name: Setup S3cmd
        uses: s3-actions/s3cmd@v1.9.0
        with:
          provider: aws
          region: us-east-1
          access_key: ${{ secrets.AWS_ACCESS_KEY }}
          secret_key: ${{ secrets.AWS_SECRET_KEY }}

      - name: Upload uberpak_client to S3
        run: |
          s3cmd put uberpaks/uberpak_client.pkz s3://${{ secrets.AWS_BUCKET_FILES }}/files/
